* { 
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}
body { 
  background: white;
  padding:60px;
  justify-content: center; 
}
form, input, textarea {
  margin:0; 
  padding:0; 
  color:black;
}

.form-input-row{
  justify-content: center;
  display: flex;
  margin-top:25px;
  align-items: center;
}

.form-control{
  margin-right: 2rem;
  width:200px;
  height: 30px;
  padding-left: 8px;
  font-style: oblique;
}

.form-control.success input{
border-color: green;
}
.form-control.error input{
  border-color: red;
  }
.form-control.success  {
  color: green;
  visibility: visible;
}
.form-control.error  {
  color: red;
  visibility: visible;
}
.form-control small{
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}
.form-control-input{
  min-width: 190px;
  font-size: 14px;
  size: 20px;
  padding:10px;
  font-style: italic;
}
.radio-group{ 
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 20px;
  gap:50px;
  color: grey;
}
.group-damen{
  gap:5px;
}
.button{
  font-size: 13px;
  font-weight: 400;
  padding: 5px 15px;
  background-color: #444;
}
.ordered-lists-group{
  margin-top:30px;
}

.text{
  justify-content: center;
  display: flex;
  margin-top:30px;
  margin-right: 200px; 
  margin-left: 200px;
  align-items:flex-start;
  color:grey;
}
.radio{
 margin-right:15px;
}
 .alarm{
  align-items: center;
  justify-content: center;
  padding: 25px;
  color:red;
  display:none;
  font-weight: bold;
 }
 .footer{
   padding:20px;
   width: 100%;
 }
 .vorname
 {
    text-transform: uppercase;
   background-image: linear-gradient(
     -225deg,
     #231557 0%,
     #44107a 29%,
     #ff1361 67%,
     #fff800 100%
   );
   background-size: auto auto;
   background-clip: border-box;
   background-size: 200% auto;
   color: #fff;
   justify-content: center;
   align-items: center;
   background-clip: text;
   text-fill-color: transparent;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 2s linear infinite;
   display: inline-block;
       font-size: 100px;
 }
 
 @keyframes textclip {
   to {
     background-position: 200% center;
   }
 }

 h4 {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-box-direction: normal;
  box-sizing: border-box;
  line-height: 1.1;
  margin-top: 0;
  color: #3c3c3c;
  font-family: "AndradePro Regular",Georgia,"Times New Roman",Times,serif;
  font-size: 21px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
  margin-top: 30px;
 }

 h4 span {
   font-family: "AndradePro Regular",Georgia,"Times New Roman",Times,serif;
   font-style: normal;
  /* text-transform: uppercase; */
  color: #F3871F;
 }

 input[type="text"] {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-box-direction: normal;
  box-sizing: border-box;
  font: inherit;
  margin: 0;
  font-family: inherit;
  display: block;
  width: 100%;
  font-weight: 300;
  line-height: 18px;
  background-color: #fff;
  background-image: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  height: auto;
  padding: 5px 10px;
  border: 1px solid #979797;
  font-size: 12px;
  color: #000;
  font-style: italic;
 }

 #absenden {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-box-direction: normal;
  box-sizing: border-box;
  font: inherit;
  overflow: visible;
  -webkit-appearance: button;
  cursor: pointer;
  line-height: inherit;
  display: inline-block;
  margin: 0;
  border: 1px solid #000;
  background: #000;
  color: #fff;
  font-family: "Open Sans",Verdana,Arial,sans-serif;
  text-transform: uppercase;
  border-radius: 0;
  font-size: 13px;
  font-weight: 400;
  padding: 5px 15px;
  background-color: #444;
 }

 .ordered-lists-group {
   /* display: flex; */
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: "Open Sans",Verdana,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #666;
  font-weight: 300;
  -webkit-box-direction: normal;
  box-sizing: border-box;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  max-width: 610px;
  margin-left: auto;
  margin-right: auto;
 }

 .ordered-lists {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: "Open Sans",Verdana,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #666;
  font-weight: 300;
  -webkit-box-direction: normal;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom:25px;
 }

 .ordered-lists li {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: "Open Sans",Verdana,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  -webkit-box-direction: normal;
  list-style: none;
  box-sizing: border-box;
  position: relative;
  font-weight: 600;
  color: #F3871F;
  text-transform: uppercase;
  display: inline-block;
 }

 .ordered-lists li::before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #F3871F;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 5px;
}

.footer-text {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: "Open Sans",Verdana,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #666;
  font-weight: 300;
  -webkit-box-direction: normal;
  box-sizing: border-box;
  position: relative;
  text-align: left;
  margin: auto;
  width: 100%;
  max-width: 960px;
  display:flex;
}

.footer-text input {
  align-self: flex-start;
  margin-right: 2px;
}

.foter-text label {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: "Open Sans",Verdana,Arial,sans-serif;
  -webkit-box-direction: normal;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 20px;
  display: block;
  position: relative;
  cursor: pointer;
  font-weight: 400;
  color: #444;
  margin-top: 0;
  text-align: left;
  padding-top: 0;
  padding-left: 20px;
}

.footer-text label em {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: "Open Sans",Verdana,Arial,sans-serif;
  -webkit-box-direction: normal;
  cursor: pointer;
  font-weight: 400;
  color: #444;
  text-align: left;
  box-sizing: border-box;
  line-height: 1.2;
  float: left;
  margin-right: 4px;
  font-size: 10px;
}

.footer-text label p {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: "Open Sans",Verdana,Arial,sans-serif;
  -webkit-box-direction: normal;
  cursor: pointer;
  font-weight: 400;
  box-sizing: border-box;
  line-height: 1.33em;
  text-align: left;
  color: #444;
  font-size: 11px;
  margin: 0;
}

.footer-text label a {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: "Open Sans",Verdana,Arial,sans-serif;
  -webkit-box-direction: normal;
  font-weight: 400;
  line-height: 1.33em;
  text-align: left;
  font-size: 11px;
  box-sizing: border-box;
  background-color: transparent;
  color: #9e5200;
  text-decoration: none;
}